# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

test/
*.orig
*.lnk

# project files
\[backup\]/
appd/
space/
extra/
secret.php
facebook/
phpminify/
phpquery/
phpshell/
pubsub/
php-openssl-crypt/
sbbcode/
