# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

test/
*.orig
*.lnk

# project files
\[backup\]/
appd/
facebook/
sbbcode/
phpquery/Google Code Archive - Long-term storage for Google Code Project Hosting-.url
phpquery/phpQuery-onefile.php
pubsub/
phpshell/
phpminify/
php-openssl-crypt/
space/
hybridauth/
secret.php
