# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

test/
*.orig
*.lnk

# project files
\[backup\]/
extra/
secret.php
facebook/
phpminify/
phpquery/
phpshell/
pubsub/
php-openssl-crypt/
sbbcode/

#composer stuff
/vendor/
composer.lock
